@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Medium.ttf");
}

body {
    width: 800px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: roboto;
    font-size: 20px;
    background: #212121;
}

#main_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#frontpage_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #0f0;
    font-size: 40px;
    cursor: pointer;
    background: url(images/darkPurple.png);
    animation: animatedbg 20s linear infinite;
    display: none;
}

#game_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(images/darkPurple.png);
    animation: animatedbg 15s linear infinite;
    display: none;
}

@keyframes animatedbg {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 128px;
    }
    100% {
        background-position: 0 256px;
    }
}

#timer_div {
    position: absolute;
    top: 6px;
    left: 731px;
    font-size: 23px;
    width: 200px;
    color: #fff;
}

#score_div {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 22px;
    width: 200px;
    color: #e4f6f9;
}

#level_div {
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 22px;
    color: #e4f6f9;
}

.corner {
    position: absolute;
    width: 47px;
    height: 47px;
    background: url(images/corner.png);
}

.corner.tl {
    top: 8px;
    left: 8px;
}

.corner.tr {
    top: 8px;
    right: 8px;
    transform: rotate(90deg);
}

.corner.bl {
    bottom: 8px;
    left: 8px;
    transform: rotate(270deg);
}

.corner.br {
    bottom: 8px;
    right: 8px;
    transform: rotate(180deg);
}

.step {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    border: 1px solid black;
    width: 4px;
    height: 4px;
    z-index: 1;
}

#missile {
    position: absolute;
    width: 6px;
    height: 24px;
    background-image: url(images/missile.png);
    background-size: 100%;
    transform-origin: center bottom;
    z-index: 1;
}

#shoot_angle {
    position: absolute;
    top: 528px;
    left: 298px;
    font-family: roboto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: url(images/input_field.png);
    border: none;
    outline: none;
    width: 120px;
    height: 48px;
    padding-top: 11px;
    overflow: hidden;
}

#shoot_angle:after {
    content: "\00b0";
}

#calculator_div {
    position: absolute;
    top: 260px;
    left: 636px;
    display: none;
}

#calc_table td {
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 25px;
    width: 45px;
    height: 35px;
    text-align: center;
    text-shadow: 2px 2px #000;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

#explosion {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 180px;
    height: 180px;
    background-image: url(images/explosion.png);
    z-index: 3;
}

#player_ship {
    position: absolute;
    bottom: 110px;
    left: 380px;
    z-index: 2;
    transform-origin: center;
}

.enemy_ship {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    transform-origin: center;
}

.button2 {
    position: relative;
    cursor: pointer;
    margin-left: 50%;
    left: -72px;
    top: 30px;
}

.button2.play {
    width: 145px;
    height: 65px;
    background-image: url(images/play_1_normal.png);
}

.button2.play:hover {
    background-image: url(images/play_2_rollover.png);
}

.button2.shoot {
    position: absolute;
    top: 528px;
    left: 444px;
    width: 120px;
    height: 60px;
    background-image: url(images/shoot_01_up.png);
    margin-left: 0;
}

.button2.shoot:active {
    background-image: url(images/shoot_02_down.png);
}

#greyout {
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity: 0.4;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.popup_big {
    position: absolute;
    top: 70px;
    left: 209px;
    width: 340px;
    background: #fff;
    font-size: 48px;
    font-weight: bold;
    color: #371359;
    text-align: center;
    padding: 30px;
    z-index: 100;
    clip-path: polygon(0 22px, 22px 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%);
    display: none;
}

.button,
.button:visited {
    background: #222 url(images/blank.gif) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
}

.button:hover {
    background-color: #111;
    color: #fff;
}

.button:active {
    top: 1px;
}

.small.button,
.small.button:visited {
    font-size: 11px;
    padding: 2px;
}

.button,
.button:visited,
.medium.button,
.medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.large.button,
.large.button:visited {
    font-size: 24px;
    padding: 8px 14px 9px;
}

.grey.button,
.grey.button:visited {
    background-color: #e2e2e2;
}

.grey.button:hover {
    background-color: #e2e2e2;
}

.green.button,
.green.button:visited {
    background-color: #91bd09;
}

.green.button:hover {
    background-color: #749a02;
}

.blue.button,
.blue.button:visited {
    background-color: #2daebf;
}

.blue.button:hover {
    background-color: #007d9a;
}

.red.button,
.red.button:visited {
    background-color: #e33100;
}

.red.button:hover {
    background-color: #872300;
}

.magenta.button,
.magenta.button:visited {
    background-color: #a9014b;
}

.magenta.button:hover {
    background-color: #630030;
}

.orange.button,
.orange.button:visited {
    background-color: #ff5c00;
}

.orange.button:hover {
    background-color: #d45500;
}

.yellow.button,
.yellow.button:visited {
    background-color: #ffb515;
}

.yellow.button:hover {
    background-color: #fc9200;
}